build/*
!build/README.txt
data/*
data/*.o
data/*.elf
data/*.map
mkmf.log
TEST1.txt
TEST2.txt
CircuitSimulator/build/classes/*.class
CircuitSimulator/dist/*
!CircuitSimulator/dist/README.txt
CircuitSimulator/nbproject/*
CircuitSimulator.jar
